<html>
  <head>
    <style>
      body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
      }

      h1 {
        color: red;
      }
    </style>
  </head>

  <body>
    <h1>Maths App !</h1>
    <form method="post">
      <br />
      <select name="operation" id="operation">
        <option value="simplify">Simplify</option>
        <option value="factor">Factor</option>
        <option value="tangent">Tangent</option>
        <option value="area">Area</option>
      </select>
      <br />
      <br />
      <input type="text" name="expression" id="" placeholder="Expression" />
      <input type="submit" value="Submit" />
    </form>

    <p>Result for given equation : {{ result }}</p>
  </body>
</html>
